/* Base styles for profile drawer */
.profile-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  /* Adjust the width for larger screens */
  height: 100vh;
  z-index: 999;
  background-color: #470276;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  padding: 25px;
}

/* Styles for open drawer */
.profile-drawer.open {
  transform: translateX(0);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .profile-drawer {
    width: 100%;
    /* Full width for smaller screens */
  }
}

@media (max-width: 480px) {
  .profile-drawer {
    width: 100%;
    /* Ensure full width for very small screens */
  }

  .modal-container {
    margin: 10px;
    padding: 15px;
  }

  #btnicon {
    font-size: 18px;
    /* Smaller icons for small screens */
  }
}

/* Modal styles */
.modal-container {
  background-color: #1c0831;
  margin: 15px;
  padding: 20px;
  color: white;
  animation: slideDown 0.5s ease-in-out;
  border-radius: 20px;
}

.modal-content {
  max-width: 100%;
}

/* Overlay background */
.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}

/* Button styles */
.button {
  font-size: 16px;
  /* Adjust button size for better readability */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
}

#btnicon {
  padding-right: 20px;
  font-size: 20px;
}

/* List styles */
.profile-drawer ul {
  list-style: none;
  padding: 20px;
}

.profile-drawer li {
  margin-bottom: 10px;
}